.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background: rgba(128, 128, 128, 0.254);
}

.card:hover,
.card:active {
  background: rgb(140, 139, 139);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
}

.deal-image {
  width: 6rem;
  height: 3rem;
  margin: 10px;
}

.title {
  margin: 0;
  font-weight: 400;
}

.price {
  margin-right: 1rem;
  font-weight: 400;
  color: purple;
}

@media (max-width: 40rem) and (orientation: portrait) {
  .card {
    flex-direction: column;
  }
  .wrapper {
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .deal-image {
    width: 12rem;
    height: 6rem;
  }
}
