body {
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-status {
  background: rgba(255, 28, 244, 0.213);
  font-size: 1.5rem;
  color: #8700a2;
  font-weight: 400;
  margin-top: 2rem;
  width: 100vw;
  padding: 0.5rem;
  max-width: 1500px;
  text-align: center;
}
